#cartDiv {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 300px;
    padding: 10px;
    background-color: #f9f9f9;
    display: none;
}

.cart-item {
    margin-bottom: 20px;
    background-color: beige;
}

.product-list,
.cart-list {
    list-style: none;
    padding: 0;
}

.product-item,
.cart-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.product-item img,
.cart-item img {
    display: block;
    margin-bottom: 10px;
}